
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.element {
  font-family: var(--system-ui);
}
/*
 reset credit to joshwcomeau.com
*/

body{
  margin: 0;
  display: flex;
  align-items: stretch;
  height: 100vh;
  
}
div{
}
label {
    display: block;
  }
  input {
    border: 1px solid #2e2e2e;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;

  }
  input:invalid {
    border-color: rgba(248, 42, 42, 0.699);
  }
  input:focus{
    border-color: rgba(8, 63, 126, 0.685);
  }

.picture{
  background-image: url('./trees.avif');
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 70vh;

}
.logobox{
  position: relative;
  top: 12rem;
  display: flex;
  justify-content: center;
  background-color: #2e2e2e8c;

}
.odin-logo{
  width: 7rem;
  height: 7rem;
}
.text{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.description{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items:start;
  background-color: #F5F7F8 ;
  flex-shrink: 1;
  padding: 5rem 15rem 0rem 5rem;

}
.description p{
  font: bold 2rem "Open Sans", sans-serif;
  padding: 0rem 30rem 1rem 0rem;
}

.formbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  flex-shrink: 0;
  background-color: hsl(0, 0%, 99%)  ;
  padding: 2rem 5rem;
  box-shadow: 5px 5px 10px gray;

}
.sign-up-form{
display: flex;
gap: 1rem;
}
.form-column{
  display: flex;
  flex-direction: column;

}
.form-column> *{
}

.account{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
  background-color: #F5F7F8 ;
  flex-grow: 1;
  padding: 2rem 0rem 0rem 5rem;  
  gap:1rem;

}
.account p{
  font: 500 0.95rem "Open Sans", sans-serif;

}

button{
  background-color: 	hsl(160, 47%, 50%);
  border: none;
  padding: 12px 29px;
  color: #F5F7F8;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
}





